.img1{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.img2{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.img3{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img4{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img5{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.img6{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}